body {
    background: linear-gradient(
        right green, yellow, green
    );
    color: black
}
form {
    display: block;
    background: rgb(255, 255, 255);
    border: 20px;
    border: 1px blue;
    gap: 20px;
    display: flex;
    flex-direction: row;
}
button {
    background-color: none;
    color: blue;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

